* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s;
}

body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #1565C0;
    --text-color: black;
    --hover-color: #1565C0;
}




.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    position: relative;
    font-size: 30px;
    left: -10px;
}
.logo img {
    height: 80px;
}
.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

.menu-btn {
    display: none;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 40;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 200px;
    height: 100vh;
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
    z-index: 50;
}

.butt {
    width: 35px;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-size: large;
}

.close-btn {
    align-self: flex-end;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.hero
{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding: 0 50px;
    margin-top: 50px;
}
.hero h1
{
    font-size: 6rem;
    color: var(--main-color);
}
.hero p
{
    font-weight: 500;
    
}
.faq-section {
    padding: 80px 20px;
    color: var(--text-color);
}

.faq-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 60px;
}


.faq-left h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.faq-left p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
}

.faq-left a {
    color: var(--main-color);
    text-decoration: none;
}

.faq-item {
    border-bottom: 1px solid #1e293b;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 22px 0;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question span {
    font-size: 22px;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    color: var(--text-color);
    font-size:18px;
    line-height: 1.7;
    transition: max-height 0.4s ease;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    padding-bottom: 20px;
}

.faq-item.active .faq-question span {
    transform: rotate(45deg);
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.search-box {
    position: relative;
    width: 600px;
    height: 50px;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .menu-btn {
        display: block;
    }
    .hero
    {
        padding: 0 20px;
    }
    .hero h1
    {
        font-size: 2rem;
    }
}
@media (max-width: 900px) {
    .faq-container {
        grid-template-columns: 1fr;
    }

    .faq-left h2 {
        font-size: 34px;
    }

    .faq-question {
        font-size: 16px;
    }

    .faq-answer {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .faq-section {
        padding: 40px 15px;
    }

    .faq-item {
        border-radius: 5px;
    }
}
