* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s;
}

body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #1565C0;
    --text-color: black;
    --hover-color: #1565C0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    position: relative;
    font-size: 30px;
    left: -10px;
}
.logo img {
    height: 80px;
}
.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

.menu-btn {
    display: none;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 40;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 200px;
    height: 100vh;
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
    z-index: 50;
}

.butt {
    width: 35px;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-size: large;
}

.close-btn {
    align-self: flex-end;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.hero
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.hero h1
{
    font-size: 6rem;
    color: var(--main-color);
}
.hero p
{
    font-size: 20px;
}
.bocs
{
    margin-top: 50px;
    width: 60%;
    border: 3px dashed var(--text-color);
    display: flex;
    justify-self: center;
    padding: 20px;
    border-radius: 20px;
}
.bocs div
{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.bocs div h2
{
    color: var(--main-color);
    font-size: 30px;
}

/* Responsive */

.footer {
    width: 100%;
    background-color: #fff;
    margin-top: 100px;
    padding: 60px 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.foot1 {
    display: flex;
    justify-content: space-around;
}

.intro {
    max-width: 400px;
}

.intro-1 {
    display: flex;
    align-items: center;
}

.intro-1 img {
    width: 100px;
}

.intro p {
    margin-top: 15px;
    color: #333;
    line-height: 1.6;
}

.social {
    display: flex;
    justify-self: center;
    gap: 20px;
    margin-top: 30px;
}

.social img {
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1.1);
    padding: 4px;
    border: 2px solid #000;
    border-radius: 50%;
}

.list-33 {
    display: flex;
    gap: 100px;
}

.list-33 div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-33 section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-33 section a {
    text-decoration: none;
    color: #151515;
    font-weight: 500;
}

.list-33 section a:hover {
    border-bottom: 2px solid #000;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.right div {
    display: flex;
    gap: 50px;
}

.right div a {
    color: #282727;
    text-decoration: none;
}




/* Responsive Footer */
@media (max-width: 1000px) {

    .foot1,
    .right {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .list-33 {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 560px) {
    .footer {
        padding: 40px 20px;
    }
    .cta h2 {
        font-size: 30px;
    }
}






@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .menu-btn {
        display: block;
    }
    .hero
    {
        padding: 0px 20px;
    }
    .hero h1
    {
        font-size: 3rem;
    }
    .bocs
    {
        padding: 10px;
    }
}





