*,.tool a{
    box-sizing:border-box
}
.box,.home p,.menu a{
    color:#000
}
.box,.home h1,.home p{
    text-align:center
}
.box,.navbar{
    position:relative
}
*{
    margin:0;
    padding:0
}
body::-webkit-scrollbar{
    width:15px;
    background-color:purple;
    overflow:hidden
}
.footer,.navbar,.tool{
    background-color:#fff
}
body::-webkit-scrollbar-track{
    background-color:#fff
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom,purple,#d7bde2);
    border-radius:20px;
    opacity:80%
}
:root{
    --bg-color:#f0f2f5;
    --text-color:black
}
body,html{
    width:100%;
    height:100%;
    background-color:var(--bg-color);
    font-family:'Segoe UI',sans-serif
}
main{
    padding:0 10px
}
html{
    scroll-behavior:smooth
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:80%;
    margin:15px auto;
    box-shadow:0 10px 25px #d7bde2;
    border-radius:10px;
    padding:0 20px;
    height:60px
}
.logo,.menu{
    display:flex;
    align-items:center
}
.logo img{
    
    width:150px;
   /* border:2px solid red;*/
}
.logo{
    gap:10px
}
.logo h1{
    position:absolute;
    left:110px;
    font-size:32px
}
.menu{
    gap:30px
}
#closeMenu,.menu-icons{
    display:none;  
}
.menu-icons img
{
    width: 35px;
}
.home,.tool{
    align-items:center
}
.menu a{
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    transition:.3s
}
.menu a:hover{
    border-bottom:2px solid purple;
    transform:scale(1.05);
    color:purple;
    font-weight:600
}
.social img:hover,.tool:hover{
    transform:scale(1.1)
}
.menu-icons{
    font-size:24px;
    cursor:pointer
}
.home,.tools{
    display:flex
}
.box,.heading{
    font-size:2rem
}
.home{
    margin-top:20px;
    flex-direction:column;
    justify-content:center;
    justify-self:center;
    margin-bottom:30px;
    width:80%
}
.list-33 div,.tool-section{
    flex-direction:column
}
.home h1{
    font-size:4rem
}
.home p{
    margin-top:10px;
    font-size:18px
}
.sear a,.tool a{
    color:#fff;
    text-decoration:none;
    height:40px
}
.tool-section{
    padding:10px;
    display:flex;
    margin-bottom:20px
}
.heading{
    margin-bottom:20px
}
.tools{
    justify-content:space-around;
    gap:10px;
    flex-wrap:wrap;
    align-items:center;
    padding:10px
}
.list-33 div,.social{
    gap:20px;
    display:flex
}
.tool{
    width:24%;
    display:flex;
    justify-content:space-between;
    padding:15px 10px;
    box-shadow:0 15px 30px #d7bde2;
    border-radius:15px;
    transition:.8s
}
.tool a{
    background-color:purple;
    width:100px;
    border-radius:50px;
    display:flex;
    align-items:center;
    justify-content:center
}
.sear a,.tool a:hover{
    background-color:#5b2c6f
}
.tool h1{
    font-size:1.4rem
}
.footer{
    height:450px;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    width:100%;
    margin-top:100px;
    padding:60px 100px 10px
}
.intro-1{
    display:flex;
    align-items:center
}
.intro-1 img{
    width:140px
}
.social img{
    margin-top:50px;
    width:30px;
    transition:.2s
}
.social img:hover{
    padding:4px;
    border:2px solid #000;
    border-radius:50px
}
.foot1,.right{
    display:flex;
    justify-content:space-around
}
.list-33{
    display:flex;
    gap:100px
}
.list-33 section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px
}
.list-33 section a{
    text-decoration:none;
    color:#151515;
    font-size:16px;
    font-weight:500
}
.list-33 section a:hover{
    border-bottom:2px solid #000
}
.right div{
    display:flex;
    gap:50px
}
.right div a{
    color:#282727
}
.seach{
    display:flex;
    justify-content:center
}
.sear,.sear a{
    align-items:center;
    display:flex
}
.sear{
    border:3px solid #d7bde2;
    justify-content:space-around;
    flex-wrap:wrap;
    width:60%;
    padding:50px;
    gap:10px;
    border-radius:20px;
    transition:.5s
}
.sear a{
    justify-content:center;
    width:200px;
    border-radius:40px;
    border:none
}
.sear:hover{
    border-color:#5b2c6f
}
.text-effect{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:40px;
}
.box{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.1);
    border-radius:16px;
    padding:40px 60px;
    box-shadow:0 10px 25px #d7bde2;
    backdrop-filter:blur(10px);
    min-width:300px;
    width:50%;
    font-weight:600;
    gap:30px
}
.cursor{
    display:inline-block;
    width:2px;
    height:1.2em;
    background-color:#38bdf8;
    animation:.7s steps(1) infinite blink;
    margin-left:2px;
    vertical-align:middle
}
.typing-text
{
    color: purple;
}
@keyframes blink{
    50%{
        opacity:0
    }
}
@media (max-width:1150px){
    #closeMenu,.menu{
        display:none
    }
    .menu{
        flex-direction:column;
        position:absolute;
        top:60px;
        left:0;
        right:0;
        background-color:#fff;
        gap:20px;
        padding:20px;
        z-index:99
    }
    .menu-icons{
        display:block
    }
    .home h1{
        font-size:3rem
    }
    .heading{
        font-size:1.5rem
    }
    .tool{
        width:40%
    }
    .footer{
        flex-direction:column;
        align-items:center;
        gap:50px
    }
    .sear{
        width:400px
    }
}
@media (max-width:768px){
    #closeMenu,.menu{
        display:none
    }
    .navbar{
        justify-content:space-between;
        padding:0 20px
    }
    .menu,.tools{
        flex-direction:column
    }
    .menu{
        position:absolute;
        top:60px;
        left:0;
        right:0;
        background-color:#fff;
        gap:20px;
        padding:20px;
        z-index:99
    }
    .menu-icons{
        display:block
    }
    .home h1{
        font-size:3rem
    }
    .heading{
        font-size:1.5rem
    }
    .tool{
        width:100%
    }
    .footer{
        flex-direction:column;
        align-items:center;
        gap:50px
    }
    .sear{
        width:400px
    }
}
@media (max-width:560px){
    .footer{
        height:1400px
    }
    .list-33{
        display:flex;
        flex-direction:column
    }
}
@media (max-width:1000px){
    .foot1,.right{
        flex-direction:column;
        gap:20px
    }
}
@media (max-width:500px)
{
  .navbar
  {
    padding:0 20px;
  }
 
}
