* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s;
}

body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #1565C0;
    --text-color: black;
    --hover-color: #1565C0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    position: relative;
    font-size: 30px;
    left: -10px;
}
.logo img {
    height: 80px;
}
.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

.menu-btn {
    display: none;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 40;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 200px;
    height: 100vh;
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
    z-index: 50;
}

.butt {
    width: 35px;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-size: large;
}

.close-btn {
    align-self: flex-end;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}



@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .menu-btn {
        display: block;
    }
    
}



.policy-card {
    background: var(--card);
    border: 3px dotted var(--main-color);
    border-radius: 14px;
    padding: 28px;
   
    margin: 20px 100px;
}

.policy-card h2 {
    font-size: 3rem;
    color: var(--main-color);
     margin-bottom: 25px;
}

.policy-card p {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size:16px;
    font-weight: 600;
}

.policy-card ul {
    padding-left: 20px;
}

.policy-card ul li {
    margin-bottom: 8px;
    color: var(--secondary);
    font-size: 0.95rem;
}
/* Responsive */

.footer {
    width: 100%;
    background-color: #fff;
    margin-top: 100px;
    padding: 60px 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.foot1 {
    display: flex;
    justify-content: space-around;
}

.intro {
    max-width: 400px;
}

.intro-1 {
    display: flex;
    align-items: center;
}

.intro-1 img {
    width: 100px;
}

.intro p {
    margin-top: 15px;
    color: #333;
    line-height: 1.6;
}

.social {
    display: flex;
    justify-self: center;
    gap: 20px;
    margin-top: 30px;
}

.social img {
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1.1);
    padding: 4px;
    border: 2px solid #000;
    border-radius: 50%;
}

.list-33 {
    display: flex;
    gap: 100px;
}

.list-33 div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-33 section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-33 section a {
    text-decoration: none;
    color: #151515;
    font-weight: 500;
}

.list-33 section a:hover {
    border-bottom: 2px solid #000;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.right div {
    display: flex;
    gap: 50px;
}

.right div a {
    color: #282727;
    text-decoration: none;
}




/* Responsive Footer */
@media (max-width: 1000px) {

    .foot1,
    .right {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .list-33 {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 560px) {
    .footer {
        padding: 40px 20px;
    }
    .cta h2 {
        font-size: 30px;
    }
    .policy-card h2
    {
        font-size: 1.5rem;
    }
    .policy-card
    {
       margin: 10px 0px;
    }
}