 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box
 }

 body,
 html {
     width: 100%;
     height: 100%;
     background: #f0f2f5;
     font-family: 'Segoe UI', sans-serif
 }

 .navbar {
     margin-bottom: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     box-shadow: 0 10px 25px #d7bde2;
     height: 60px;
     background: none;
     padding: 0px 50px;
 }

 .logo {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .logo img {
     width: 50px;
 }

 .logo h1 {
     font-size: 38px;
     font-weight: 700;
     color: purple;
 }

 .menu {
     display: flex;
     align-items: center;
     gap: 30px
 }

 .menu a {
     text-decoration: none;
     font-weight: 500;
     font-size: 18px;
     color: #000;
     transition: .3s
 }

 .menu a:hover {
     border-bottom: 2px solid purple;
     transform: scale(1.05);
     color: purple;
     font-weight: 600
 }

 #closeMenu,
 .menu-icons {
     display: none
 }

 .menu-icons {
     font-size: 24px;
     cursor: pointer
 }

 .menu-icons img {
     width: 35px
 }

 .contact {
     display: flex;
     gap: 50px;
     justify-content: center;
     margin-bottom: 50px
 }

 .contact div h1 {
     font-size: 2rem
 }

 form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px
 }

 form input {
     width: 400px;
     height: 50px;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     padding-left: 20px;
     transition: .5s
 }

 form button {
     width: 200px;
     height: 50px;
     border: none;
     background: purple;
     color: #fff;
     font-size: 20px;
     border-radius: 15px
 }

 .note {
     display: flex;
     justify-self: center
 }

 main {
     padding: 0 20px
 }

 .footer {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 450px;
     background: #fff;
     width: 100%;
     margin-top: 100px;
     padding: 60px 100px 10px
 }

 .intro-1 {
     display: flex;
     align-items: center
 }

 .intro-1 img {
     width: 140px
 }

 .social {
     display: flex;
     gap: 20px
 }

 .social img {
     margin-top: 50px;
     width: 30px;
     transition: .2s
 }

 .social img:hover {
     transform: scale(1.1);
     padding: 4px;
     border: 2px solid #000;
     border-radius: 50px
 }

 .foot1,
 .right {
     display: flex;
     justify-content: space-around
 }

 .list-33 {
     display: flex;
     gap: 100px
 }

 .list-33 div {
     display: flex;
     flex-direction: column;
     gap: 20px
 }

 .list-33 section {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px
 }

 .list-33 section a {
     color: #151515;
     font-size: 16px
 }

 .list-33 section a:hover {
     border-bottom: 2px solid #000
 }

 .right div {
     display: flex;
     gap: 50px
 }

 .right div a {
     color: #282727
 }

 @media(max-width:1000px) {

     .foot1,
     .right {
         flex-direction: column;
         gap: 20px
     }
 }

 @media(max-width:768px) {
     .menu {
         flex-direction: column;
         display: none;
         position: absolute;
         top: 60px;
         left: 0;
         right: 0;
         background: #fff;
         gap: 20px;
         padding: 20px;
         z-index: 99
     }

     .menu-icons {
         display: block
     }

     .navbar {
         padding: 0 20px;
     }

     form input {
         width: 250px
     }

     .footer {
         flex-direction: column;
         align-items: center;
         gap: 50px
     }
 }

 @media(max-width:700px) {
     .contact {
         flex-direction: column
     }
 }

 @media(max-width:560px) {
     .footer {
         height: 1400px
     }

     .list-33 {
         flex-direction: column
     }
 }