* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s;
}

body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #1565C0;
    --text-color: black;
    --hover-color: #1565C0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    position: relative;
    font-size: 30px;
    left: -10px;
}
.logo img {
    
    height: 80px;
    width: auto;
   margin-right: 5px;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

.menu-btn {
    display: none;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 40;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 200px;
    height: 100vh;
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
    z-index: 50;
}

.butt {
    width: 40px;
    height: auto;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-size: large;
}

.close-btn {
    align-self: flex-end;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}